.container {
    padding: 30px;
}

h1 {
    margin-top: 0px;
}

table, td,th {
    border-style:double;
    border-color: gray;
    border-spacing: 3px;
}

.b2{
    background-color: rgb(238, 153, 42);
}

